/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/

# Файли Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.sublime-project
*.sublime-workspace

# Тимчасові файли ОС
.DS_Store
Thumbs.db